<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
    <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
    </ion-col>

    <ion-col>
      
      <h1>Juvenildo Silva</h1>
    
      <p>Gerente</p>
      <ion-button shape="round" color="secondary">Seguir</ion-button>
      <ion-col>
        <ion-button shape="round" color="secondary">Mensagem</ion-button>
      
      </ion-col>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col>
      <div class="curtidas">
      <h3>45.1K</h3>
    
      <p>Curtidas</p>
    </div>
    </ion-col>
    <ion-col>
      <h3>45.1K</h3>
      <p>Seguindo</p>
    </ion-col>
    <ion-col>
      <h3>45.1K</h3>
      <p>Amigos</p>
    </ion-col>
  </ion-row>
  <br>
  <hr>

  <ion-row>
    <ion-col>
      <h4>Sobre</h4>
      <p>Pessoa inteligente e extrovertida, gosta de jogar minecraft e CSGO, estudar programação nas horas vagas</p>
    </ion-col>
  </ion-row>
  <br>
  <hr>
   <ion-row>
    <ion-col>
      <h3>Postagens de amigos</h3>
    </ion-col>
  </ion-row>


    <ion-row>
    <ion-col>
      <div class="friends">
      <img src='https://images.pexels.com/photos/1181686/pexels-photo-1181686.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'>
    </div>
    </ion-col>

    <ion-col>
      <h5>Gabriele</h5>
      <ion-col>
        <p>Pessoal, como pode o mundo acabar em 2023 se meu iorgute vemce em 2024?</p>
      </ion-col>
    </ion-col>
      <ion-col>
      <p>@gabi</p>
    </ion-col>
  </ion-row>
  <br>
  <hr>

  <ion-row>
    <ion-col>
      <div class="friends">
      <img src='https://images.pexels.com/photos/1181686/pexels-photo-1181686.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'>
    </div>
    </ion-col>

    <ion-col>
      <h5>Gabriele</h5>
      <ion-col>
        <p>Se agua é transparente, porque gelo é branco?</p>
      </ion-col>
    <ion-col>
      <img src="https://media.istockphoto.com/id/177131518/pt/foto/cubos-de-gelo.jpg?s=612x612&w=is&k=20&c=n0U6aUkmA0garOU_XxIJ3xoYOQJQvCbw5E96t51ghdg=">
    
    </ion-col>
    </ion-col>
      <ion-col>
      <p>@gabi</p>
    </ion-col>
  </ion-row>
  <br>
  <hr>

  <ion-row>
    <ion-col>
      <div class="friends">
      <img src='https://images.pexels.com/photos/1181686/pexels-photo-1181686.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'>
    </div>
    </ion-col>

    <ion-col>
      <h5>Gabriele</h5>
      <ion-col>
        <p>Sabiam que se colocar calculadora na geladeira teremos tudo friamente calculado!</p>
      </ion-col>
    </ion-col>
      <ion-col>
      <p>@gabi</p>
    </ion-col>
  </ion-row>
  <br>
  <hr>
</ion-content>